#gamedisp {
    display: none;
}

#joust {
    border: solid black;
}

#control-area {
    display: none;
}

#control-joust {
    border: solid black;
}


#r1 {
    padding-top: 100px;
}

#modechoice {
    padding-bottom: 10px;
}

#enter-id {
    display:none;
}